body{
  background: linear-gradient(#ABC8E2, #D6E4F0);
  min-height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading{
  font-size: 4rem;
  color: #346785;
}

.status{
  font-weight: bold;
  font-size: 2.5rem;
}

.start{
  text-decoration: none;
  padding: 2rem;
  border: none;
  border-radius: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #507EA3;
  color: white;
}

.gameboard {
  width: 40%;
  display: grid;
  gap: 30px;
  padding: 2rem;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 25px;
}

.cell {
  color: #3a3b3c;
  background-color: #82A9D8;
  border: 2px solid black;
  border-radius: 15px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 10rem;
  cursor: pointer;
}



